<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IShopServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54871/ShopServer.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IShopServer" contract="ServiceNS.IShopServer"
                name="BasicHttpBinding_IShopServer" />
        </client>
    </system.serviceModel>
</configuration>